@model IEnumerable<GreenPath.Models.VagasModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    .vaga-card{
        border-radius: 10px !important;
        box-shadow:  0px 0px 12px #dbdbdb,
                    -5px -5px 12px #ffffff;
    }

    input{
        outline: none !important;
        box-shadow: none !important;
    }
</style>

<h1 class="text-center my-5">Vagas abertas</h1>

<form asp-action="Index" method="get">
    <div class="form-group d-flex justify-content-center">
        <div class="d-flex col-sm-3">
            <input type="text" class="form-control" name="BuscaString" value="@ViewData["Filtro"]"
                placeholder="Nome, área, local..." />
            <input type="submit" value="Busca" class="btn btn-success" />
        </div>
    </div>
</form>

<ul class="list-group list-group-light d-flex justify-content-center align-items-center mt-5">
    @foreach (var item in Model) {
    <li data-aos="fade-right" class="vaga-card list-group-item d-flex justify-content-between align-items-center m-2 flex-column w-25">
        <div class="d-flex align-items-center">
            <div class="text-center">
                <p class="fw-bold mb-3 text-capitalize">@Html.DisplayFor(modelItem => item.Cargo)</p>
                <p class="text-muted mb-0">@Html.DisplayFor(modelItem => item.nomeEmpresa)</p>
                <p class="text-muted mb-0">@Html.DisplayFor(modelItem => item.Local)</p>
                <p class="text-muted mb-3">R$ @Html.DisplayFor(modelItem => item.Salario)</p>
            </div>
        </div>
        <div>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success btn-rounded btn-sm">Ver
                mais+</a>
        </div>
    </li>
    }
</ul>