@model GreenPath.Models.EmpresaModel

@{
    ViewData["Title"] = "Details";
}



<div class="container mt-4">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title text-xxl">@Html.DisplayFor(model => model.Razao)</h5>
           
        </div>
        <img style="width: 200px; height: 200px;" class="img-responsive mx-auto img-thumbnail rounded-circle" src="../Data/gatos-orelha_site." alt="">
        <div class="card-body text-center pb-3">
    </div>
</div>
</div>



<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>Informações</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Razao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Razao)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cnpj)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cnpj)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Area)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Area)
                </dd>
            </dl>
          
        </div>
    </div>
</div>


<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center ">Selos</h4>
            <div class="dflex row justify-content-center">

                    <img style="width: 200px; height: 200px;" class="card-img-top rounded-circle mx-2" src="https://via.placeholder.com/150" alt="Imagem 1">


                <img style="width: 200px; height: 200px;" class="card-img-top rounded-circle mx-2" src="https://via.placeholder.com/150" alt="Imagem 2">


                <img style="width: 200px; height: 200px;" class="card-img-top rounded-circle mx-2" src="https://via.placeholder.com/150" alt="Imagem 3">


                <div class="card-body text-center pb-3"> 
                <button type="button" class="btn btn-primary">Ver mais</button>
                </div>
            </div>
        </div>  
    </div>
</div>


<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center ">Vagas</h4>
            <div class="dflex row justify-content-center">

                <img style="width: 200px; height: 200px;" class="card-img-top  mx-2" src="https://via.placeholder.com/150" alt="Imagem 1">


                <img style="width: 200px; height: 200px;" class="card-img-top  mx-2" src="https://via.placeholder.com/150" alt="Imagem 2">


                <img style="width: 200px; height: 200px;" class="card-img-top  mx-2" src="https://via.placeholder.com/150" alt="Imagem 3">


                <div class="card-body text-center pb-3">
                    <button type="button" class="btn btn-primary">Ver mais</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*

<h1>Details</h1>

<div>
    <h4>EmpresaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Razao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Razao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@